.navPage {
  margin-bottom: 3%;
  .navLine {
    background-color: #0066cc;
    h4 {
      color: whitesmoke;
      font-weight: bold;
    }
  }
  .firstLine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0073e6;
    padding: 10px;
    .social {
      i.fa {
        border-radius: 50%;
        background-color: #0066cc;
        color: whitesmoke;
        width: 35px;
        height: 35px;
        font-size: 15px;
        padding: 11px;
        margin-right: 5px;
      }
    }
    .contact {
      display: flex;
      flex-wrap: wrap;
      margin-top: 5px;

      .mail {
        margin-right: 20px;
        color: whitesmoke;
        i.fa.fa-envelope-o {
          margin-right: 5px;
        }
      }
      .phone {
        color: whitesmoke;
        i.fa.fa-phone {
          margin-right: 5px;
        }
      }
    }
  }
}
